<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="flash notice">
        <%=flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:warning] %>
      <div class="flash warning">
        <%=flash[:warning] %>
      </div>
    <% end %>
    ----
    <%= yield %>
  </body>
</html>
